langchain
unstructured
pandas
pinecone-client
docx2txt
sacremoses
sentence-transformers
datasets
pinecone-client[grpc]
pinecone-datasets
python-decouple
fastapi
pypdf
python-multipart
python-docx
scikit-learn
statsmodels
pyjwt
uvicorn